<%= render 'shared/errors',obj: @user %>
<div class="row">
    <div class="col-sm-12">
         <%= form_for(@user, :html => { class: "form-horizontal", role: "form" }) do |f| %>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                    <%= f.label :username %><br/>
            </div>
            <div class="col-sm-8">
                    <%= f.text_field :username, class: "form-control", placeholder: "Enter Username", autofocus: true %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                    <%= f.label :email %><br/>
            </div>
            <div class="col-sm-8">
                    <%= f.text_field :email, class: "form-control", placeholder: "Enter email"  ,autofocus: true %>
            </div>
        </div>
       <div class="form-group">
            <div class="col-sm-2 control-label">
                    <%= f.label :password %><br/>
            </div>
            <div class="col-sm-8">
                    <%= f.password_field :password, class: "form-control", placeholder: "Enter password"  %>
            </div>
            </div>        
         <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                    <%= f.submit(@user.new_record? ? "Signup" : "Update account", class: "btn btn-success btn-lg") %>
            </div>
        </div>
            <% end %>
           <p>
                     <%= link_to '[ Back to articles listing page ]', articles_path %>
           </p>
    </div>
</div>